<%= simple_form_for @pokemon do |f| %>
<div class="col-lg-12">
	<p>
		<%= f.input :number, label: 'Numéro', class: 'form-control' %>
	</p>
	<p>
		<%= f.input :name, label: 'Nom', class: 'form-control' %>
	</p>
	<p>
		<%= f.association :type, label: 'Type', class: 'form-control' %>
	</p>
	<p>
		<%= f.input :level, label: 'Niveau', class: 'form-control' %>
	</p>
	<p>
		<%= f.input :health_points, label: 'Points de vie', class: 'form-control' %>
	</p>
	<p>
		<%= f.association :moves, label: 'Attaques',
								  as: :check_boxes,
								  item_wrapper_tag: :label,
								  item_wrapper_class: 'checkboxe-inline' %>
	</p>
  <p>
    <%= f.input :avatar, as: :file %>
  </p>
	<p>
		<%= f.submit 'Ajouter', class: 'btn btn-primary' %>
	</p>
</div>
<% end %>