<!-- app/views/pokemons/index.html.erb -->

<h1><%= t :'.title'%></h1>

<p>
<% if user_signed_in? %>
	<%= link_to 'Ajouter', new_pokemon_path, class: 'btn btn-success' %>
<% end %>
</p>

<% if @pokemons.any? %>
<table class="table">
	<thead>
		<tr>
			<th>#</th>
			<th>Nom</th>
			<th colspan="4">Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @pokemons.each do |pokemon| %>
			<tr> <%# concaténation: "#{pokemon.name} : #{pokemon.id}"%> 
				<td><%= pokemon.id %></td>
				<td><%= pokemon.name %></td>
				<td>
					<%= render partial: 'types/type', locals: { type: pokemon.type }%>
				</td>
				<td><%= link_to 'Afficher', pokemon %></td>
				<td><%= link_to 'Editer', edit_pokemon_path(pokemon) %></td>
				<td><%= link_to 'Supprimer', pokemon, 
					method: :delete,
					data: {
						confirm: 'Êtes-vous sûr(e) de vouloir supprimer ce Pokemon ?'
					},
					class: 'btn btn-danger' %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= will_paginate @pokemons, renderer: BootstrapPagination::Rails %> 
<% else %>
	<p>Il n'y a pas de Pokemon. </p>
<% end %>