<!-- app/views/pokemons/index.html.erb -->

<h1>Liste des Pokemons</h1>

<p>
	<%= link_to 'Ajouter', new_pokemon_path, class: 'btn btn-success' %>
</p>

<% if @pokemons.any? %>
<table class="table">
	<thead>
		<tr>
			<th>#</th>
			<th>Nom</th>
			<th colspan="4">Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @pokemons.each do |pokemon| %>
			<tr> <%# concaténation: "#{pokemon.name} : #{pokemon.id}"%> 
				<td><%= pokemon.id %></td>
				<td><%= pokemon.name %></td>
				<td>
					<% if !pokemon.type.nil? %>
						<%= type_badge(pokemon.type.name, pokemon.type.color) %>
					<% else %>
						non défini
					<% end %>
				</td>
				<td><%= link_to 'Afficher', pokemon %></td>
				<td><%= link_to 'Editer', edit_pokemon_path(pokemon) %></td>
				<td><%= link_to 'Supprimer', pokemon, 
					method: :delete,
					data: {
						confirm: 'Êtes-vous sûr(e) de vouloir supprimer ce Pokemon ?'
					},
					class: 'btn btn-danger' %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<% else %>
	<p>Il n'y a pas de Pokemon. </p>
<% end %>