<!DOCTYPE html>
<html>
<head>
  <title>Pokedex</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <% unless Rails.application.assets.find_asset("#{controller_name}.css").nil? %>
    <%= stylesheet_link_tag controller_name, media: 'all', 'data-turbolinks-track' => true %> 
  <% end %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <% unless Rails.application.assets.find_asset("#{controller_name}.css").nil? %>
      <%= javascript_include_tag controller_name, media: 'all', 'data-turbolinks-track' => true %>
    <% end %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= "#{controller_name}-#{action_name}"%>">
	<div class="container">
    <header>
      <p>
        <%= link_to 'Liste Pokemon', pokemons_path(), class: 'btn'%>
        <%= link_to 'Liste Types', types_path(), class: 'btn' %>
        <%= link_to 'Liste Attaques', moves_path(), class: 'btn' %>
      </p>
      <% flash.each do |name, msg| -%> 
        <div class="alert alert-<%= alert_class(name) %>">
        <a class="close" data-dismiss="alert">x</a>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
        </div>
      <% end -%>
    </header>
		<%= yield %>
	</div>
</body>
</html>
